
body{
    background: #bdf4f0 !important;
    font-family:Georgia, serif;
}
h1{
    font-family:Helvetica, sans-serif;
}
h2{
    font-family:Helvetica, monospace, sans-serif;
}
.logo .fas{
    font-size: 30px;
}
