body{
    background: #bdf4f0;
    margin-left: 150px;
    margin-right:150px;
    text-align: justify;
    }
h1{
  font-family:Helvetica, sans-serif;
  }
h2{
  font-family:Helvetica, monospace, sans-serif;
  }
p{
 font-family:Georgia, serif;
 }
a:visited{
         color: black;
         }
a:hover{
       color: red;
       }
li{
  margin-bottom: 20px;
  }
