body{
    background: #bdf4f0;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    }
h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
a:visited{
    color: black;
}
a:hover{
    color: red;
}
li{
    margin-bottom: 20px;
}