body{
    background: url(img/fons.jpg) center top / cover no-repeat;
}
.block{
    width: 400px;
    border-left: 3px solid #0bf354;
    color: white;
    background:rgba(0,0,0,0.5);
    padding: 40px;
    text-align:justify;
    font-size: 25px;
    margin: 100px 30px;
}
h1{
    text-align: center;
    font-size: 45px;
    margin-top: 0;
}
.center{
    display: block;
    text-align: center;
}
