.common{
    color: #ffffff;
    width: 200px;
    height: 100px;
    font-size: 30px;
    line-height: 0.7;
}
.test{
    border:2px solid #2d6c27;
    background: #5d9a6a;
}
.test1{
    border:2px solid #fe0203;
    background: #ffe2ac;
    margin-left: 200px;
}
.test2{
    border:2px solid #f8a800;
    background: #881bff;
    margin-left: 400px;
}